.moviesContainer {
  @apply mb-5 animate-fade;

  .heading {
    @apply font-bold text-xl mb-5 text-gray-300 capitalize;
  }

  .movie {
    @apply mb-5 flex items-stretch;

    .poster {
      img {
        @apply h-full w-full rounded-image transition-colors;
        border: 1px solid transparent !important;
      }

      &:hover {
        img {
          border-color: var(--primary-color) !important;
        }
      }
    }

    .info {
      @apply ml-4 flex flex-col justify-between;
      width: 67%;

      .title {
        @apply text-white text-lg font-medium truncate;
      }

      .genres {
        @apply flex flex-col text-gray-300 text-sm;
      }

      .rating {
        @apply flex items-center mb-2;

        svg {
          @apply fill-yellow-700 mr-2 text-lg;
        }

        .grade {
          @apply text-white font-medium pt-0.5;
        }
      }
    }
  }

  .link {
    @apply block text-center p-2.5 btn-primary;
  }
}
